<table>
    <tr>
        <td style="">Nom du bien:</td>
        <td><a href="{{ url('app_property.show',{id: contact.property.id}) }}">{{ contact.property.title }}</a></td>
    </tr>
    <tr>
        <td style="">Prenom</td>
        <td>{{ contact.firstname }}</td>
    </tr>
    <tr>
        <td style="">Nom</td>
        <td>{{ contact.lastname }}</td>
    </tr>
    <tr>
        <td style="">Téléphone</td>
        <td>{{ contact.phone }}</td>
    </tr>
    <tr>
        <td style="">Email</td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td style="">Message</td>
        <td>{{ contact.message|nl2br }}</td>
    </tr>
</table>